
h1 {
    font-size: 24px;
    font-family: 'Itim', sans-serif;
}
h2 {
    font-size: 22px;
    font-family: 'Itim', sans-serif;
}
a {
    font-size: 22px;
    font-family: 'Itim', sans-serif;
}
.nav_btn {
  width: 214px;
  height: 45px;
  font-family: 'Itim', sans-serif;
  font-size: 30px;
  border: 1px solid #000000;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
}
.nav_btn_pressed {
  width: 214px;
  height: 45px;
  font-family: 'Itim', sans-serif;
  font-size: 30px;
  border: 0px ;
  opacity: 0.5;
}
.findMeBlock {
  width: 436px;
  height: 87px;
  font-family: 'Itim', sans-serif;
  border: 1px solid #000000;
  text-align: center;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  font-size: 24px;
  position: relative; 
}
.commonTextLink {
  margin:0px;
  padding:0px 0px 0px 0px;
  color: #0A7FEB;
}
.commonTextMain {
  margin:0px;
  padding:8px 0px 10px 0px;
}
.findMe-left-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}
.findMe-right-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}
#green {
  background: #BEFFC8;
}
#blue {
  background: #BEFFFB;
}
#lightBlue{
  background: #BEF3FF;
}
#red {
  background: #FFBEBE;
}
#purple {
  background: #BED8FF;
}
#findMeColor {
  background: #BEF3FF;
}
/* .container {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 59px;
        background-color: #FFBEBE; 
        color: black; 
        text-align: center;
        padding: 15px; 
        white-space: nowrap;
        overflow: hidden;
} */
.container {
        display: flex;
        flex-direction: row;
        padding: 15px; 
        background-color: #FFBEBE; 
        box-shadow: 0 -4px 4px rgba(0, 0, 0, 0.2);
        border: 1px solid #000000;
  /* Позиционирование внизу страницы */
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
    }
.item {
    font-family: 'Itim', sans-serif;
    font-size: 30px;
    padding: 0px 20px 0px 20px;
}
 body {
        background: linear-gradient(90deg, rgba(255, 135, 135, 0.2), rgba(255, 250, 126, 0.2), rgba(140, 255, 137, 0.2), rgba(142, 250, 237, 0.2), rgba(140, 207, 255, 0.2), rgba(183, 166, 255, 0.2), rgba(255, 123, 123, 0.2));
        /* Дополнительные стили, чтобы фон занимал всю высоту страницы */
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
      }
#LanguageBlockTable {
  height: 0px;
  width:  311px;
  align-items: center;
}
#LanguageBlockMain {
    text-align: center; 
}
.LanguageBlockName {
  text-align: left; 
}
.LanguageBlockLevel {
  text-align: right; 
}

.circle-container {
  display: flex;
}
.circle-column {
  display: flex;
  flex-direction: column;
}
.circle {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: white; /* Белый цвет */
  border: 3px solid black; /* Черная обводка толщиной 3 пикселя */
  margin-right: 10px; /* Для горизонтальной линии кружков */
  margin-bottom: 10px; /* Для вертикальной линии кружков */
}
.inner-circle-one {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40px; /* Размер поменьшего круга */
  height: 40px; /* Размер поменьшего круга */
  border-radius: 50%;
  background-color: #3502FF; /* Зеленый цвет */
}
.inner-circle-two {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40px; /* Размер поменьшего круга */
  height: 40px; /* Размер поменьшего круга */
  border-radius: 50%;
  background-color: #8C31FF; /* Зеленый цвет */
}
.inner-circle-three {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40px; /* Размер поменьшего круга */
  height: 40px; /* Размер поменьшего круга */
  border-radius: 50%;
  background-color: #00B707; /* Зеленый цвет */
}
.inner-circle-four {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40px; /* Размер поменьшего круга */
  height: 40px; /* Размер поменьшего круга */
  border-radius: 50%;
  background-color: #FF8B03; /* Зеленый цвет */
}
.inner-circle-five {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40px; /* Размер поменьшего круга */
  height: 40px; /* Размер поменьшего круга */
  border-radius: 50%;
  background-color: #FF0000; /* Зеленый цвет */
}

#ProgLanguageBlockTable {
  height: 0px;
  width:  427px;
}
#ProgLanguageBlockMain {
  text-align: center;
}
#ProgLanguageBlockName {
  text-align: left; 
  align-items: flex-start;
}
#ProgLanguageBlockLevel {
  text-align: right; 
  align-items: flex-end;
}
.PortfolioBlock {
  grid-column: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 430px;
  height: auto;
  font-family: 'Itim', sans-serif;
  border: 1px solid #000000;
  text-align: center;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  font-size: 24px;
  position: relative; 
}
.PortfolioBlockText{
  text-align:start;
  align-items: start;
  padding: 0px 0px 12px 28px
}
.TechStackBlock,
.AboutBlock,
.KeyResponsibilityBlock,
.LookAtMeBlock{
  width: 400px;
  height: auto;
  font-family: 'Itim', sans-serif;
  border: 1px solid #000000;
  text-align: center;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  font-size: 24px;
  position: relative;
  margin-top: 5px; 
  margin-bottom: 5px; 
}
.PortfolioBlockSecondText{
  text-align:start;
  align-items: start;
  margin: 0px 0px 12px 28px
}
.ProjectLinkBlock{
  display: flex;
  width: 400px;
  height: 80px;
  font-family: 'Itim', sans-serif;
  border: 1px solid #000000;
  text-align: center;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  font-size: 24px;
  position: relative;
  margin-top: 5px; 
  margin-bottom: 5px; 
}
.projectLink {
  align-items: start;
  color: #0A7FEB;
  margin-top:12px;
  margin-inline-start: 28px;
  font-size:35px;
}
.ProjectScreenshoot {
    max-width: 100%; 
    height: auto; 
    margin-inline-start: 28px;
    margin-inline-end: 28px;
    margin-top: 12px;
    margin-bottom: 12px;
}

.ArticleBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 430px;
  height: auto;
  font-family: 'Itim', sans-serif;
  border: 1px solid #000000;
  text-align: center;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  font-size: 24px;
  position: relative; 
  margin-top: 40px;
  margin-bottom: 40px;
}
.SmallArticleBlock{
  width: 400px;
  height: auto;
  font-family: 'Itim', sans-serif;
  border: 1px solid #000000;
  text-align: center;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  font-size: 24px;
  position: relative;
  margin-top: 5px; 
  margin-bottom: 5px; 
}
.ArticleBlockSecondText{
  text-align:start;
  align-items: start;
  margin: 0px 0px 12px 28px
}
.ArticleBlockText{
  text-align:start;
  align-items: start;
  padding: 0px 0px 12px 28px
}

.CareerBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 430px;
  height: auto;
  font-family: 'Itim', sans-serif;
  border: 1px solid #000000;
  text-align: center;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  font-size: 24px;
  position: relative; 
  margin-top: 40px;
  margin-bottom: 40px;
}
.SmalCareerBlock{
  width: 400px;
  height: auto;
  font-family: 'Itim', sans-serif;
  border: 1px solid #000000;
  text-align: center;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  font-size: 24px;
  position: relative;
  margin-top: 5px; 
  margin-bottom: 5px; 
}
.CareerBlockSecondText{
  text-align:start;
  align-items: start;
  margin: 0px 0px 12px 28px
}
.CareerBlockText{
  text-align:start;
  align-items: start;
  padding: 0px 0px 12px 28px
}
.flex-container {
    display: flex;
    align-items: center; /* Align items vertically */
    justify-content: space-between; /* Distribute items evenly along the main axis */
}
.icon {
    flex-shrink: 0; /* Prevent icon from shrinking */
    margin-right: 10px;
    margin-left: 14px;/* Add spacing between icon and text */
    margin-top: 10px;
}
.careerBlock-text {
    margin-right: 10px;
    white-space: nowrap; /* Запрет переноса текста */
}
.careerBlock-text-long {
    flex-grow: 2;
    white-space: normal; /* Allow text to wrap */
    line-height: 1.2; /* Adjust line height for readability */
    margin-right: 10px; /* Add spacing between long text and item */
    margin-left: 10px; /* Add spacing between long text and item */

}
.item {
  flex-shrink: 0; 
 }
.pageContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* Три равных столбца */
    gap: 20px; /* Промежуток между столбцами */
    padding-top: 25px;
    padding-bottom: 100px;

}
.pageContainerMobile {
  display: grid;
  grid-template-columns: 1fr ; 
  padding-top: 25px;
  padding-bottom: 100px;
}
.MainColumn{
  padding-top: 180px;
}
.firstColumn{
  grid-column: 1;
}
.secondColumn{
  grid-column: 2;
}
.thirdColumn{
  grid-column: 3;
}
.firstRow{
  grid-row: 1;
}
.secondRow{
  grid-row: 2;
}
.thirdRow{
  grid-row: 3;
}
.CornerRect {
  position: absolute;
  width: 75px; /* Adjust size as needed */
  height: 35px; /* Adjust size as needed */
  background-color: white;
  border: 1px solid #000000;
  transform-origin: center;
}

.top-left {
  top: -20px;
  left: -30px;
}

.top-right {
  top: -20px;
  right: -30px;
}

.bottom-left {
  bottom: -20px;
  left: -30px;
}

.bottom-right {
  bottom: -20px;
  right: -30px;
}
.line {
  position: absolute;
  border-top: 3px dashed black; 
  height: 1px; 
}

.PortfolioBlockMobile {
  grid-column: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  font-family: 'Itim', sans-serif;
  border: 1px solid #000000;
  text-align: center;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  font-size: 24px;
  position: relative; 
  margin-top: 25px;
}